<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __("text_63") %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/css/styles.css" rel="stylesheet"> -->
</head>
<body>
    <div class="container">
        <a href="/">HOME</a> / <a href="/kawi"><%= __("text_62") %></a> <!-- 가위바위보 게임 -->
        <h1 class="text-center"><%= __("text_63") %></h1><!-- 가위바위보 게임결과 -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><%= __("text_15") %></th><!-- 날짜 -->
                    <th><%= __("text_69") %></th><!-- 사용자 선택 -->
                    <th><%= __("text_70") %></th><!-- 컴퓨터 선택 -->
                    <th><%= __("text_71") %></th><!-- 결과 -->
                    <th><%= __("text_66") %></th><!-- 베팅 금액 -->
                </tr>
            </thead>
            <tbody>
                <% logs.forEach(log => { %>
                    <tr>
                        <td><%= log.timestamp %></td>
                        <td><%= log.user_choice %></td>
                        <td><%= log.computer_choice %></td>
                        <td><%= log.result %></td>
                        <td><%= log.bet_amount %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                        <a class="page-link" href="/kawiList?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</body>
</html>
