<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="CEIK WEB MINING(마이닝)">
    <meta property="og:url" content="https://ceik.c4ei.net/">
    <meta property="og:image" content="https://i.ibb.co/Kz8rZ8C/ceik-w-min.png">
    <meta property="og:description" content="CEIK  무료 WEB MINING을 시작 하세요.">
    <meta name="description" content="CEIK - All About Healthy Network" />
    <meta name="author" content="c4ei.net">
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>CEIK MINING</title>
    <style>
        #MiningQty {
            font-size: 48px;
            transition: color 0.2s ease-in-out;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #12485c;
			color:#ebeb00;
            background-image: url("/bg1.png") ;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            background-image: url("/size_whale.jpg") ;background-size : cover;
        }

        h1 {
            color: #f8ff92;
            background:#12485c;
            opacity:0.7;
        }
        p {
            color: yellow;
            background:#12485c;
            opacity:0.7;
        }

        .user-info {
            margin-top: 5px;
        }

        button {
            margin-top: 5px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button2 {
            margin-top: 5px;
            padding: 10px 20px;
            background-color: #ff0000;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }
        #clock {
            font-size: 48px;
            color: #ccd366;
            /* display: inline-block; */
        }
        .info {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            display: inline-block;
        }
        .tooltip {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            margin-left: 10px;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border-radius: 5px;
            text-align: left;
            width: 200px;
            z-index: 10;
        }
        .info:hover .tooltip {
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>CEIK MINING V0.41</h1>
        <img src="https://i.ibb.co/dKbPkVt/c4eix200t-Logo.png" alt="AAH265" border="0" width="64" height="64" >
        <div class="user-info">
            <p style="padding-top: 10px;padding-bottom: 10px;">
                Level : <%= level %> / EXP : <%= exp %> / POINT : <%= point %>
                <br />
                전송가능 CEIK 수량 : 
                <span id="accumulatedCount"><%=aah_balance%></span>
                <button id="sendAAHButton" style="width: 50px;height: 26px;padding: 2px 2px 2px 2px;background-color: chartreuse;color: #ff0000;">전송</button>
                <br />
                <button id="goBuyCeikButton" onclick="jsfn_goBuyCeik()">전송가능 CEIK 구매</button>
                <% if (userIdx==40||userIdx==52){ %>
                <button id="goBuyCeikListButton" onclick="jsfn_goBuyCeikList()"> 구매 LIST</button>
                <% } %>
                <button id="goBbsButton" onclick="jsfn_goBBS()">게시판</button>
                <br />
                내 추천인 수 : <%=reffer_cnt%> <% if (reffer_cnt>0){ %><font color="red">Hash+</font><% } %>
                /
                내 파티원 수 : <%=party_mem_cnt%> <% if (party_mem_cnt>0){ %> <font color="red">Hash+</font> <% } %>
                <br />
                <%if (bname!=""){ %>
                    <%= bname %> (배속: <%= multiplier %>, Duration: <%= duration %> sec) 
                    <a href="javascript:jsfn_useBoost('<%=boost_id%>','<%=bname%>')"><img src="/boost.png" alt="boost" border="0" width="32" height="32" style="vertical-align: bottom;"></a>
                    </a>
                <% } %> 
            </p>
        </div>
        
        <button id="showMoreButton" onclick="jsfn_lyShow()">추가정보</button>
        <button id="subscribeButton">PUSH알림</button>
        <button id="showgoRoultteButton" onclick="jsfn_goRoultte()">룰렛</button><br>
        <button id="showgoLadderButton" onclick="jsfn_goLadder()">사다리</button>
        <button id="showgoLadderButton" onclick="jsfn_goKawi()">가위바위보</button>
        <button id="showgoLadderButton" onclick="jsfn_goScratch()">즉석복권</button>
        <div id="lyNoShow" style="display: none;">
            <p>내 Email 주소 : <%=email%></p>
            <p>내 CEIK 주소 : <br /> <span id="aah_address">
                <a href ="https://klaytnscope.com/account/<%=aah_address%>?tabId=tokenBalance" target="_blank" style="color: #fff;"><%=aah_address%></a></span></p>
            
            <div class="info">
                내 지갑 CEIK 예치수량 : <span id="aah_real_balance"><%=aah_real_balance%></span> 
                <%      if (aah_real_balance>10000000000){ %> <font color="red">Hash+ 250</font> <% } 
                    else if (aah_real_balance>5000000000) { %> <font color="red">Hash+ 150</font> <% }
                    else if (aah_real_balance>2000000000) { %> <font color="red">Hash+ 50</font> <% } 
                    else if (aah_real_balance>1000000000) { %> <font color="red">Hash+ 20</font> <% } 
                    else if (aah_real_balance>500000000)  { %> <font color="red">Hash+ 5</font> <% } 
                    else if (aah_real_balance>100000000)  { %> <font color="red">Hash+ 2</font> <% } 
                    else if (aah_real_balance>0)   { %> <font color="red">Hash+ 1</font> <% } %>
                <div class="tooltip" style="font-size: 11px;">
                    CEIK 예치 100억 초과  Hash파워+250<br>
                    CEIK 예치 50억 초과   Hash파워+150<br>
                    CEIK 예치 20억 초과   Hash파워+50<br>
                    CEIK 예치 10억 초과   Hash파워+20<br>
                    CEIK 예치 5억 초과    Hash파워+5<br>
                    CEIK 예치 1억 초과    Hash파워+2<br>
                    CEIK 예치 0 초과      Hash파워+1<br>
                </div>
            </div>
            <br />
            <button id="addAddrButton" style="width: 250px;height: 30px;padding: 2px 2px 2px 2px;background-color: chartreuse;color: #ff0000;"
            ><a href="/add_address">전송용 지갑주소 추가</a></button>
            <% if(user_add_addr!=null){ %>
            <p>추가 CEIK 주소 : <br /> <span id="user_add_addr">
                <a href ="https://klaytnscope.com/account/<%=user_add_addr%>?tabId=tokenBalance" target="_blank" style="color: #fff;"><%=user_add_addr%></a></span><br /> 
                ※추가 CEIK 주소 존재 시 해당 주소로 전송 됩니다.<br />
                ※If an additional CEIK address exists, it will be sent to that address.
            </p>
            <p >
                <a href="https://klayswap.com/exchange/swap?output=0x18814b01b5cc76f7043e10fd268cc4364df47da0" target="_blank" style="color: #fff;"><img src="https://s.klayswap.com/img/token/ic-ceik.png" style="width:20px;height:20px" border="0">CEIK구매하러가기(BUY CEIK)</a>
            </p>
            <% } %>

            <p>Mining Rate: <%= miningRate %> CEIK per <%= miningFrequency %> hours</p>
            <!-- <p>Time since last mining: <%= ing_sec %> seconds</p> -->
            <!-- miningSettingsForm DELETE -->
        </div>
        
        <h1 id="MiningQty">0.0000000001</h1> 
        <button id="startButton">채굴시작</button>
        <button id="accumulateButton">적립</button>
        <button id="makeLinkButton">초대링크생성</button>
        <button id="makePartyButton">파티</button>
        <input type="hidden" id="email" value="<%=email%>" />
        <input type="hidden" id="userIdx" value="<%=userIdx%>" />
        <br />※적립버튼은 2시간마다 클릭 가능합니다.

        <div id="clock">2:00:00</div>
           
        <script>
            function jsfn_goBBS(){
                document.location.href='/bbs_list';
            }
            function jsfn_goRoultte(){
                document.location.href='/roulette';
            }
            function jsfn_goLadder(){
                document.location.href='/ladder';
            }
            function jsfn_goKawi(){
                document.location.href='/kawi';
            }
            function jsfn_goScratch(){
                document.location.href='/scratch';
            }
            function jsfn_goBuyCeik(){
                document.location.href='/buy';
            }
            function jsfn_goBuyCeikList(){
                document.location.href='/buylist';
            }
            function startCountdown() {
                let _remainTime = "<%=ing_sec%>" ;
                var time = 7200; // 2 hours in seconds
                if(_remainTime>7200){
                    time = 0;
                }else{
                    time = time - _remainTime;
                }
                var clock = document.getElementById('clock');

                var countdown = setInterval(function() {
                var hours = Math.floor(time / 3600);
                var minutes = Math.floor((time % 3600) / 60);
                var seconds = time % 60;

                // Add leading zeros if necessary
                hours = (hours < 10) ? "0" + hours : hours;
                minutes = (minutes < 10) ? "0" + minutes : minutes;
                seconds = (seconds < 10) ? "0" + seconds : seconds;

                // Display the countdown
                clock.textContent = hours + ":" + minutes + ":" + seconds;

                // Check if the countdown is finished
                if (time <= 0) {
                    clearInterval(countdown);
                    clock.textContent = "00:00:00";
                } else {
                    time--;
                }
                }, 1000); // Update every second
            }

            startCountdown();
        </script>
    </div>

    <script>
        function jsfn_useBoost(b_id, b_name){
            if(!confirm(b_name +" 부스터를 사용 하시겠습니까?")){
                return;
            }
            let b_boost = document.getElementById("b_boost")
            let b_boosterId = document.getElementById("b_boosterId");
            let b_email = document.getElementById("b_email");
            let b_userIdx = document.getElementById("b_userIdx");
            let _email = document.getElementById("email").value;
            let _userIdx = document.getElementById("userIdx").value;
            b_boosterId.value = b_id;
            b_email.value = _email;
            b_userIdx.value = _userIdx;
            b_boost.action="/activateBooster";
            b_boost.submit();
        }
        function jsfn_lyShow(){
            let lyNoShow = document.getElementById("lyNoShow");
            if(lyNoShow.style.display=="none"){
                lyNoShow.style.display="block";
            }else{
                lyNoShow.style.display="none";
            }
        }
        const MiningQtyDisplay = document.getElementById('MiningQty');
        const startButton = document.getElementById('startButton');
        const accumulateButton = document.getElementById('accumulateButton');
        const makeLinkButton = document.getElementById('makeLinkButton');
        const makePartyButton = document.getElementById('makePartyButton');
        const sendAAHButton = document.getElementById('sendAAHButton');
        const subscribeButton = document.getElementById('subscribeButton');
        let _subsc_cnt = "<%=subsc_cnt%>";
        if(_subsc_cnt>0){
            subscribeButton.disabled=true;
            subscribeButton.textContent="알림ON";
        }else{
            subscribeButton.textContent="알림OFF";
        }
        let _serverSpendTime = "<%=ing_sec%>" ; // 
        let _serverPlusTime = _serverSpendTime * <%=Qty_CeikPerSec%>;  // 0.0000000001
        let MiningQty = _serverPlusTime;
        // alert(_serverPlusTime+":_serverPlusTime/n"+"<%=ing_sec%>");
        let intervalId;

        const updateCount = () => {
            let minusInt = "<%=reffer_cnt%>";
            let aah_real_balance = "<%=aah_real_balance%>";
            if (aah_real_balance>1000){ minusInt = minusInt + 250; }
            else if (aah_real_balance>500){ minusInt = minusInt + 150; }
            else if (aah_real_balance>200){ minusInt = minusInt + 50; }
            else if (aah_real_balance>100){ minusInt = minusInt + 20; }
            else if (aah_real_balance>50){ minusInt = minusInt + 5; }
            else if (aah_real_balance>10){ minusInt = minusInt + 2; }
            else if (aah_real_balance>0){ minusInt = minusInt + 1; }
            let _party_mem_cnt = "<%=party_mem_cnt%>";
            minusInt = minusInt + parseInt(_party_mem_cnt);
            
            if(minusInt>500){ minusInt = 500; } // max 500 invate member 
            const randomInterval = 1100 - parseInt(minusInt); // 1초마다
            setTimeout(() => {
                // MiningQty = MiningQty + parseFloat(MiningQty + (10000000 / 86400)); // 씩 증가
                // const displayCount = MiningQty;
                // CEIK decimal 8 = 10000000
                // MiningQty += 0.0000001; // 씩 증가
                MiningQty += <%=Qty_CeikPerSec%>; // 씩 증가
                // MiningQty = MiningQty + Math.round(10000000 / 86400).toFixed(8);
                const integerPart = Math.floor(MiningQty); // 정수 부분
                let decimalPart = (MiningQty - integerPart).toFixed(7).slice(2); // 소수 부분
                let randomDigits = Math.floor(Math.random() * 1000).toString().padStart(3, '0'); // 랜덤한 3자리 생성
                const displayCount = integerPart + "." + decimalPart + randomDigits; // 정수부분과 소수부분 그리고 랜덤한 숫자 합치기
                MiningQtyDisplay.textContent = displayCount;
                MiningQtyDisplay.style.color = 'red';
                setTimeout(() => { MiningQtyDisplay.style.color = 'black'; }, 200);
            }, randomInterval);
        };

        makeLinkButton.addEventListener('click', () => {
            document.location.href='/invite';
        });
        
        makePartyButton.addEventListener('click', () => {
            document.location.href='/parties';
        });

        sendAAHButton.addEventListener('click', () => {
            let _aah_balance  ="<%=aah_balance%>";
            let _email = document.getElementById("email").value;
            let _userIdx = document.getElementById("userIdx").value;
            if(_aah_balance<1000){
                alert('최소 전송 가능 수량은 30 CEIK 입니다.\nThe minimum transferable quantity is 30 CEIK.');
                return;
            }
            if(_aah_balance>100000){
                alert('최대 전송 가능 수량은 100000 CEIK 입니다.\nThe maximum transferable quantity is 100000 CEIK.');
                return;
            }
            let f_mining = document.getElementById("f_mining");
            let f_aah_balance = document.getElementById("f_aah_balance");
            let f_email = document.getElementById("f_email");
            let f_userIdx = document.getElementById("f_userIdx");
            f_aah_balance.value = _aah_balance;
            f_email.value = _email;
            f_userIdx.value = _userIdx;
            f_mining.action="/sendAAH";
            f_mining.submit();
        });

        startButton.addEventListener('click', () => {
            if (!intervalId) {
                updateCount();
                intervalId = setInterval(updateCount, 1000);
            }
            startButton.disabled=true;
            startButton.style.backgroundColor = "#c5cacf";
        });

        accumulateButton.addEventListener('click', () => {
            let _miningQty = MiningQtyDisplay.textContent;
            let _email = document.getElementById("email").value;
            let _userIdx = document.getElementById("userIdx").value;
            clearInterval(intervalId);
            MiningQty = 0;
            MiningQtyDisplay.textContent = "0.0000000001";
            MiningQtyDisplay.style.color = 'black';
            intervalId = null;

            let m_accu = document.getElementById("m_accu")
            let m_miningQty = document.getElementById("m_miningQty");
            let m_email = document.getElementById("m_email");
            let m_userIdx = document.getElementById("m_userIdx");
            m_miningQty.value = _miningQty;
            m_email.value = _email;
            m_userIdx.value = _userIdx;
            m_accu.action="/accumulate";
            m_accu.submit();

            startButton.disabled=false;
            startButton.style.backgroundColor = "#007bff";
        });
        startButton.click();
        if(_serverSpendTime>7200){
            accumulateButton.disabled = false;
            accumulateButton.style.backgroundColor = "#007bff";
        }else{
            accumulateButton.disabled = true;
            accumulateButton.style.backgroundColor = "#c5cacf";
        }
    </script>
    <script>
        const publicVapidKey = '<%= VAPID_PUBLIC %>';
        const userIdx = '<%= userIdx %>';

        function urlBase64ToUint8Array(base64String) {
            const padding = '='.repeat((4 - base64String.length % 4) % 4);
            const base64 = (base64String + padding).replace(/-/g, '+').replace(/_/g, '/');
            const rawData = window.atob(base64);
            const outputArray = new Uint8Array(rawData.length);
            for (let i = 0; i < rawData.length; ++i) {
                outputArray[i] = rawData.charCodeAt(i);
            }
            return outputArray;
        }

        function subscribeUser(registration) {
            return registration.pushManager.getSubscription()
                .then(subscription => {
                    if (subscription) {
                        return subscription.unsubscribe();
                    }
                })
                .then(() => {
                    return registration.pushManager.subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: urlBase64ToUint8Array(publicVapidKey)
                    });
                })
                .then(subscription => {
                    console.log('User is subscribed:', subscription);

                    return fetch('/subscribe', {
                        method: 'POST',
                        body: JSON.stringify({ userIdx, subscription }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Subscription sent to server');
                    } else {
                        console.error('Failed to send subscription to server');
                    }
                })
                .catch(error => {
                    console.error('Subscription failed:', error);
                });
        }

        document.getElementById('subscribeButton').addEventListener('click', () => {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log('Service Worker registered');
                        return navigator.serviceWorker.ready;
                    })
                    .then(registration => {
                        subscribeUser(registration);
                    })
                    .catch(error => {
                        console.error('Service Worker registration failed:', error);
                    });
            } else {
                console.error('Service workers are not supported in this browser');
            }
        });
    </script>
<form id="f_mining" name="f_mining" method="post">
    <input type="hidden" id="f_aah_balance" name="f_aah_balance" />
    <input type="hidden" id="f_email" name="f_email" />
    <input type="hidden" id="f_userIdx" name="f_userIdx" />
</form>
<form id="m_accu" name="m_accu" method="post">
    <input type="hidden" id="m_miningQty" name="m_miningQty" />
    <input type="hidden" id="m_email" name="m_email" />
    <input type="hidden" id="m_userIdx" name="m_userIdx" />
</form>
<form id="b_boost" name="b_boost" method="post">
    <input type="hidden" id="b_boosterId" name="b_boosterId" />
    <input type="hidden" id="b_email" name="b_email" />
    <input type="hidden" id="b_userIdx" name="b_userIdx" />
</form>

</body>
</html>
